# Virtual environment folder
.venv

# VizDoom GitHub repo
github

# Training logs and checkpoints
train/*
logs/*
models/*
_vizdoom.ini

# Ignore any other files that may be generated
*.log
ollama_initialization.ipynb
